<!DOCTYPE html>
<html lang="zh-cmn-Hans">
  <head>
    <meta charset="UTF-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">


    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
    <link rel="stylesheet" href="/stylesheets/private/common.css"/>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css"/>
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css"/>
    <link rel="stylesheet" href="/stylesheets/private/new.css"/>
    <title>登录</title>

  </head>
  <body ng-app="indexApp" class="page_bg">
    <!--<header>-->
    <%- include('component/modal') -%>
    <!--</header>-->



    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-5 col-xs-12">
          <a href="main"><img src="image/logo.png"></a>
        </div>
      </div>
    </div>

    <div id="main"  class="container page_ele_bg page_border marginT_4" ng-controller="LoginController" >
      <div class="" >
        <div id="logo" class="col-lg-7 col-md-7 col-sm-7 marginT_7 visible-lg-block visible-md-block visible-sm-block" style="height:400px">
          <img src="image/signup.png" >
        </div>
        <div id="login" class="col-lg-5 col-md-5 col-sm-5" >
          <p class="text-center text-info h1 page-header">用户登录</p>
          <form class="form-horizontal"   name="form_login" novalidate ng-init="login.items[0].value='<%= decryptName %>'"  >
            <div class="text-danger text-center" ng-show="false===login.wholeMsg.valid" ng-bind="login.wholeMsg.msg"></div>

            <div class="form-group "  ng-repeat="item in login.items">
              <div class="col-lg-11 col-md-11 col-sm-11  " >
                <label for="{{item.itemName}}" class=" col-lg-3 col-md-3 col-sm-4  control-label text-right text-info" ng-bind="item.itemLabelName"></label>
                <div class="col-lg-9 col-md-9 col-sm-8 has-feedback " ng-class="{'has-success':true===item.valid,'has-error':false===item.valid}">
                  <div class="input-group ">
                    <!--<div class="input-group">-->
                      <span class="input-group-addon"><span class="fa {{item.itemIcon}}"></span></span>

                      <input class="form-control " type="{{item.itemType}}" name="{{item.itemName}}"  ng-model="item.value"  ng-focus=inputBlurFocus(login.items[$index],false,true) ng-blur=inputBlurFocus(login.items[$index],true,false)>

                  </div>
                  <span class="glyphicon glyphicon-ok form-control-feedback"  ng-show="true===item.valid"></span>
                  <span class= "glyphicon glyphicon-remove form-control-feedback"  ng-show="false===item.valid" ></span>
                  <!--glyphicon glyphicon-ok-->
                  <!--to show server verified result-->
                  <div class="text-danger" ng-show="false===item.valid" ng-bind="item.msg"></div>
                </div>

              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-11 col-md-11 col-sm-11">
                <label for="captcha" class="col-lg-3 col-md-3 col-sm-4 control-label text-right text-info">验证码</label>
                <div class="col-lg-9  col-md-9 col-sm-8 input-group">
                  <div class="col-lg-6 col-md-5">
                    <input class="form-control" ng-class="{'has-success':true===login.captcha.valid,'has-error':false===login.captcha.valid}" name="{{login.captcha.itemName}}" type="text" ng-model="login.captcha.value" placeholder="4位验证码"   ng-focus="inputBlurFocus(login.captcha,false,true)" ng-blur="inputBlurFocus(login.captcha,true,false)">
                    <div  class="text-danger " ng-show="false===login.captcha.valid" ng-bind="login.captcha.msg"></div>
                  </div>
                  <div class="col-sm-offset-1 col-xs-offset-1" data-toggle="tooltip" data-placement="left" title="" >

                    <img  class="cursor_pointer" src="<%= img%>"  ng-src="{{captchaUrl}}" ng-show="false===regening"/>
                    <span style="width:80px;display:inline-block" ng-show="true===regening" class="center"><span class="fa fa-spinner fa-pulse"  ></span></span>
                    <span  ng-click="regen()" class="cursor_pointer text-primary" style="line-height:32px">看不清</span>
                  </div>

                </div>
              </div>
            </div>

            <div  class="row" ng-show="true===loging">
              <div class="col-lg-5 col-lg-offset-4 col-md-6 col-md-offset-4 col-sm-7 col-sm-offset-4 col-xs-6 col-xs-offset-3">
                <span class="fa fa-spinner fa-pulse fa-2x"></span><span class="h3 text-success marginL_2">正在登录</span>
              </div>
            </div>

            <div class="row  ">
              <div class="col-lg-11 col-md-11 col-sm-11 " ng-class="{'marginT_7':false===true}"><!--make sure the position of button not changed-->
                <div class="col-lg-9 col-lg-offset-3 col-md-9 col-md-offset-3 col-sm-8 col-sm-offset-4">
                  <div class="checkbox pull-left">
                    <label class="">
                      <input   type="checkbox" name="rememberMe" ng-model="login.rememberMe" ng-checked="rememberMe" ng-init="rememberMe='<%= rememberMe %>'" />记住用户名
                      <!--不使用login.rememberMe而是直接rememberMe，因为此时login还没有初始化，无法赋值给login.remember-->
                    </label>
                  </div>
                  <!--<div class=" marginL_2 ">-->
                    <!--<a class="btn btn-link pull-right text-right ">-->
                    <!--忘记密码-->
                    <!--</a>-->
                    <!--<a class="btn btn-link pull-right text-right" href="register">-->
                      <!--立即注册-->
                    <!--</a>-->
                  <!--</div>-->
                  <button type="submit" ng-click="loginUser()" class="btn btn-primary col-lg-12 col-md-12 col-sm-12 col-xs-12 marginT_2" id="login">登录</button>
                </div>
                <div class="col-lg-9 col-lg-offset-3 col-md-9 col-md-offset-3 col-sm-10 col-sm-offset-3">
                    <a class="btn btn-link pull-right text-right ">
                      忘记密码
                    </a>
                    <a class="btn btn-link pull-right text-right" href="register">
                      立即注册
                    </a>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>

    <%- include('component/footer') -%>
    <script src="javascripts/lib/angular.min.js"></script>
    <!--<script src="angular-messages.min.js"></script>-->
    <script src="/javascripts/lib/lodash.min.js"></script>
    <!--<script src="restangular.js"></script>-->
    <script src="javascripts/client/inputDefine.js"></script>
    <script src="javascripts/client/generalFunc.js"></script>
    <script  src="/javascripts/client/login/controller.js"></script>


  </body>
</html>
