<!DOCTYPE html>
<html lang="zh-cmn-Hans" ng-app="app">
  <head>
    <meta charset="UTF-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">

    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
    <link rel="stylesheet" href="/stylesheets/common.css"/>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css"/>
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css"/>
    <title><%= title %></title>
  </head>
  <body class="page_bg" ng-controller="MainController">
    <%- include('component/modal') -%>
    <div id="main" class=" container">
    <header class="">
      <%- include('component/toolbar') -%>
      <div class=" paddingB_3 row">
        <%- include('component/search') -%>
        <!--<div class="page_ele_bg page_border">-->
          <%- include('component/nav') -%>
        <!--</div>-->
      </div>
    </header>

    <div class=" marginT_7 long_word_break page_ele_bg  page_border row">
      <div class="paddingT_5">
        <aside class=" col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
            <div class="" ng-repeat="item in lastWeek">

              <p class="bg-primary paddingH_1 paddingV_1 h4" >{{item.name}}
                <span class=" fa fa-bar-chart marginL_1 "></span>
                <span class="fa {{item.showCSS}} pull-right marginR_1 cursor_pointer" ng-class="{'fa-angle-double-down':false===item.showFlag,'fa-angle-double-up':true===item.showFlag}" ng-click="showHidelastWeek(item)"></span>
              </p>
              <div class="spinner-midpoint" ng-show="item.loadingFlag  && item.showFlag" >
                <i class="fa fa-spinner fa-fw  fa-pulse  "></i>
              </div>
              <p ng-show="0===latestArticle.articleList.length && true===item.showFlag" class="center h4 text-danger">暂无文档</p>
              <table class="table table-hover" ng-show="!item.loadingFlag && item.showFlag">
                <tbody>
                  <tr class="paddingV_1" ng-repeat="article in item.articleList">
                    <td>
                      <a ng-href="" class="text-info h3 line-break"><p class="line-break" ng-bind="article.title"></p></a>
                      <!--<p class="line-break h5" ng-bind="article.content"></p>-->
                      <p>
                        <span ng-bind="article.author" class="text-muted h5"></span>
                        <span ng-bind="article.date" class="text-muted h5 marginL_2"></span>
                      </p>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>

        </aside>

        <article class="col-lg-9 col-md-9 col-sm-6 col-xs-12" style="height: 500px;">
          <p class="bg-primary paddingH_1 paddingV_1 h4">最新文档</p>
          <!--<div class=" border1 " >&lt;!&ndash;set height to make spinner in center&ndash;&gt;-->
            <div class="spinner-midpoint" ng-show="latestArticle.loadingFlag">
              <i class="fa fa-spinner fa-fw fa-2x fa-pulse  "></i>
              <span></span>
            </div>
          <!--</div>-->
          <p ng-show="0===latestArticle.articleList.length" class="center h2 text-danger">暂无文档</p>
          <table class="table table-hover " ng-show="!latestArticle.loadingFlag && 0<latestArticle.articleList.length">
            <tr  ng-repeat="article in latestArticle.articleList">
              <td>
                <!--<div class="page-header has-success">-->
                  <!--<h3 >-->
                    <!--<a ng-href="" ng-bind="article.title"></a>-->
                    <!--<span class="h5">-->
                      <!--<a ng-href="" ng-bind="article.author" class="text-muted  marginL_3"></a>-->
                      <!--<span class="text-muted marginL_3">date</span>-->
                    <!--</span>-->
                  <!--</h3>-->
                <!--</div>-->
                <p>
                  <a ng-href="article?id={{article.hashId}}" class="h3 marginR_3 text-primary" ng-bind="article.title"></a>
                  <a ng-href="#" class="h5 marginR_3" ng-bind="article.author"></a>
                  <span ng-href="#" class="h5 marginR_3" ng-bind="article.mDateConv"></span>
                </p>
                <p class=" h4 text-info">
                  <span ng-repeat="key in article.keys track by $index"  class="marginR_3" ng-bind="key"></span>
                </p>
                <p ng-bind="article.content" class="line-break"></p>
                <a ng-href="article?id={{article.hashId}}" class="pull-right">更多......</a>
              </td>
            </tr>
          </table>
        </article>

      </div>
    </div>

    <script src="javascripts/lib/angular.min.js"></script>
    <!--<script src="angular-messages.min.js"></script>-->
    <!--<script src="/javascripts/lib/lodash.min.js"></script>-->
    <!--<script src="restangular.js"></script>-->
    <script  src="/javascripts/client/generalFunc.js"></script>
      <script  src="/javascripts/client/inputDefine.js"></script>
    <script  src="/javascripts/client/main/mainController.js"></script>
      <script  src="/javascripts/lib/jquery-1.11.3.min.js"></script>
      <script  src="/javascripts/lib/bootstrap.min.js"></script>
    </div>
    <%- include('component/footer') -%>
  </body>

</html>
