<!DOCTYPE html>
<html lang="zh-cmn-Hans" >
    <head>
        <meta charset="UTF-8">
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
        <meta content="width=device-width,initial-scale=1" name="viewport">

        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="/stylesheets/common.css"/>
        <link rel="stylesheet" href="/stylesheets/bootstrap.css"/>
        <link rel="stylesheet" href="/stylesheets/font-awesome.min.css"/>

        <title><%= title %></title>
        <base href="/">

    </head>
    <body class="container page_bg" >


        <header id="general" class=""  ng-app="commonApp" >
            <div ng-controller="mainController">
            <%- include('component/toolbar') -%>
            <div class=" paddingB_3 row">
                <%- include('component/search') -%>
                <!--<div class="page_ele_bg page_border">-->
                <%- include('component/nav') -%>
                <!--</div>-->
            </div>
            </div>
        </header>

        <div id="route" class=" marginT_7 row paddingB_7" ng-app="app" >
            <script type="text/ng-template" id="basicInfo">
                <%- include('component/modal') -%><!--under control of different controller-->
                <p class="center text-info h2 ">用户信息</p>
                <hr>
                <form class="form-horizontal">
                    <div class="form-group" ng-repeat="singleInput in input track by $index" ng-class="{'has-error':!singleInput.validateOK,'':singleInput.validateOK}">
                        <label for="{{singleInput.inputName}}" class="col-lg-4 control-label " ng-bind="singleInput.labelName"></label>
                        <div class="col-lg-7 ">
                            <input name="{{singleInput.inputName}}" class="form-control input-sm"  type="text" ng-model="singleInput.curValue" ng-readonly="!globalVar.edit" ng-blur="checkInput($index)">
                        </div>
                        <p class="col-lg-push-4 col-lg-7 text-danger"  ng-bind="singleInput.errorMsg" ng-show="!singleInput.validateOK"></p>
                    </div>
                </form>
                <div class="center marginT_7">
                    <button class="btn btn-default btn-primary marginL_4" ng-class="{'active':!globalVar.edit,'disabled':globalVar.edit}" ng-click="editBasicInfo()" >修改</button>
                    <button class="btn btn-default btn-primary marginL_4" ng-class="{'active':globalVar.edit,'disabled':!globalVar.edit}" ng-click="saveBasicInfo()">保存</button>
                    <button class="btn btn-default btn-primary marginL_4" ng-class="{'active':globalVar.edit,'disabled':!globalVar.edit}" ng-click="cancelBasicInfo()">取消</button>
                </div>
            </script>

            <script type="text/ng-template" id="passwordInfo">
                <%- include('component/modal') -%><!--under control of different controller-->
                <p class="center text-info h2">密码信息</p>
                <hr>
                <form class="form-horizontal">
                    <div class="form-group" ng-repeat="singleInput in input track by $index" ng-class="{'has-error':!singleInput.validateOK,'':singleInput.validateOK}">
                        <label for="{{singleInput.inputName}}" class="col-lg-4 control-label" ng-bind="singleInput.labelName"></label>
                        <div class="col-lg-7">
                            <input name="{{singleInput.inputName}}" class="form-control input-sm" type="password" ng-model="singleInput.curValue" ng-blur="checkInput($index)">
                        </div>
                        <p class="col-lg-push-4 col-lg-7 text-danger"  ng-bind="singleInput.errorMsg" ng-show="!singleInput.validateOK"></p>
                    </div>
                </form>
                <div  class="center marginT_7">
                    <button class="btn btn-default btn-primary marginL_4" ng-class="{'active':globalVar.allValidateOK,'disabled':!globalVar.allValidateOK}" ng-click="savePasswordInfo()">保存</button>
                    <button class="btn btn-default btn-primary marginL_4" ng-class="{'active':globalVar.allValidateOK,'disabled':!globalVar.allValidateOK}" ng-click="cancelPasswordInfo()">取消</button>
                </div>

            </script>


            <aside class="page_ele_bg page_border col-lg-3 col-md-3 col-sm-4 paddingV_7 marginT_4 center" ng-controller="menuController">
                <ul class="nav nav-pills nav-stacked">
                    <a href="personalInfo/basicInfo" class="btn  btn-lg marginV_7 center-block" ng-class="{'btn-info':true===menuItem.userInfo.active}" ng-click="clickMenu('userInfo')">
                        <li class="">
                            <span class="fa fa-user marginR_2"></span>
                            用户信息
                        </li>
                    </a>
                    <a href="personalInfo/passwordInfo" class="btn  btn-lg marginV_7 center-block" ng-class="{'btn-info':true===menuItem.changePassword.active}" ng-click="clickMenu('changePassword')">
                        <li>
                            <span class="fa fa-key marginR_2"></span>
                            修改密码
                        </li>
                    </a>
                </ul>
            </aside>

            <article class="page_ele_bg page_border col-lg-8  col-md-8  col-sm-6  paddingV_7 marginT_4 marginL_3">
                <div ng-view class="col-lg-6 col-lg-offset-3" ></div>
            </article>
        </div>
        <%- include('component/footer') -%>
    </body>

    <script src="angular.js"></script>
    <script src="angular-route.min.js"></script>
    <script  src="/javascripts/client/generalFunc.js"></script>
    <script  src="/javascripts/client/inputDefine.js"></script>
    <!--<script src="/javascripts/client/personalInfo/not_used_personalGeneralController.js"></script>-->
    <script src="/javascripts/client/personalInfo/personalInfoController.js"></script>
    <script  src="/javascripts/lib/jquery-1.11.1.min.js"></script>
    <script  src="/javascripts/lib/bootstrap.min.js"></script>
</html>